[submodule "packages/nomad-lab"]
	path = packages/nomad-FAIR
	url = git@gitlab.mpcdf.mpg.de:nomad-lab/nomad-FAIR.git
	branch = develop
[submodule "nomad-schema-plugin-run"]
	path = packages/nomad-schema-plugin-run
	url = git@github.com:nomad-coe/nomad-schema-plugin-run.git
	branch = develop
[submodule "packages/nomad-parser-legacy-electronic"]
	path = packages/nomad-parser-legacy-electronic
	url = git@github.com:nomad-coe/electronic-parsers.git
	branch = develop
[submodule "nomad-simulations"]
	path = packages/nomad-schema-plugin-simulations-data
	url = git@github.com:nomad-coe/nomad-simulations.git
	branch = develop
[submodule "packages/nomad-parser-plugin-boss"]
	path = packages/nomad-parser-plugin-boss
	url = git@github.com:FAIRmat-NFDI/nomad-parser-plugin-boss.git
	branch = main
